<!DOCTYPE html>
<html>
    <head>

        <title>Blogz</title>
    </head>
    <body>
        <nav>

            <a href='/'>Home Page</a>
            <a href='/blog'>All the Blogz</a>
            <a href='/new_post'>New Entry</a>

            {% if not 'username'in session %}
            <span style='float:right'>
            <a href='/signup'>Time to Create an Account!</a>
            <a href='/login'>Log In</a></span>

            {% endif %}

            {% if 'username' in session %}
            {{ session['username'] }}
            <a href='/logout'>Log out</a>
            {% endif %}

            {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
                {% for category,message in messages %}
                <li class='{{category}}'>{{message}}</li>
                {% endfor %}
            </ul>
            {% endwith %}

            {% block content %}

{% endblock %}
    </body>
</html>