{% extends 'base.html' %}

{% block content %}
<a href='http://localhost:5000/blog'>Home Page</a>
<a href='/logout'>Logout</a>

<h1><center>What's on your mind?</center></h1>

<form method='post'>

    <label> Title:<br>
        <input type='text' name='new_blog_title' value='{{new_blog_title}}'>
        <p class='error'>{{title_error}}</p>
    </label>
    <br>
    <br>
    <label> Body:<br>
        <textarea name='new_blog_body' value='{{new_blog_body}}'></textarea>
        <p class='error'>{{body_error}}</p>
    </label>
    <br>

    <input type='submit' value='Add Entry'>

</form>
{% endblock %}